body {
    background-image: url("1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
  }

  h2{
      color: blueviolet;
  }
  h5{
      color: blue;
  }